
body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #252525;
  font-family: 'Track';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}


.branch-status {
  float: left;
  width: 1180px;
  box-shadow: rgba(0, 0, 0, .2) 0 0 150px inset;
}


.branch {
  float: left;
  position: relative;
  width: 33%;
}

.branch:first-child::after {
  content: '';
  position: absolute;
  top: 150px;
  bottom: 50px;
  left: 100%;
  margin-left: -1px;
  width: 2px;
  background-color: #888;
}


.branch-title {
  margin-top: 60px;
  margin-bottom: 40px;
  line-height: 40px;
  color: #FFF;
  font-size: 30px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, .5) 0 3px 5px;
}

.branch-title span {
  color: #919191;
}


.card {
  float: left;
  position: relative;
  width: 336px;
  height: 280px;
  margin: 0 0 30px 40px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.card:last-child {
  margin-bottom: 40px;
}


.card-content {
  position: relative;
  height: 100%;
  padding: 0 40px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .2) 0 -5px 0 inset, rgba(0, 0, 0, .75) 0 1px 8px;
  text-shadow: rgba(255, 255, 255, .5) 0 1px 1px;
}


.card-title {
  margin-bottom: 25px;
  padding-top: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}


.card-value {
  min-height: 80px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 90px;
  line-height: 80px;
}


.card-note {
  margin-top: 25px;
  font-size: 20px;
  line-height: 20px;
}


.build-card-ok {
  background-color: #d6ff99;
}

.build-card-ok .card-content {
  box-shadow: rgba(0, 0, 0, .2) 0 -5px 0 inset, rgba(0, 0, 0, .75) 0 1px 8px,
    rgba(77, 117, 21, .5) 0 0 70px inset;
}

.build-card-ok .card-title,
.build-card-ok .card-note {
  color: #8fb756;
}
.build-card-ok .card-value ,
.build-card-ok .card-note strong {
  color: #4d7515;
}


.build-card-broken {
  background-color: #ffbfac;
}

.build-card-broken .card-content {
  box-shadow: rgba(0, 0, 0, .2) 0 -5px 0 inset, rgba(0, 0, 0, .75) 0 1px 8px,
    rgba(215, 0, 40, .3) 0 0 70px inset;
}

.build-card-broken .card-title {
  color: #ff5a55;
}

.build-card-broken .card-note {
  color: #ff786e;
}

.build-card-broken .card-value,
.build-card-broken .card-note strong {
  color: #d70028;
}

.build-card-broken .card-value {
  font-size: 60px;
}


.google3-card .card-title,
.google3-card .card-note {
  color: #8fb756;
}

.google3-card .card-title span {
  color: #aad370;
}

.google3-card-far-behind .card-title span {
  color: #ff786e;
}

.google3-card .card-value {
  color: #4d7515;
}

.google3-card .card-note {
  font-size: 30px;
}

.google3-card .card-content {
  box-shadow:
    rgba(0, 0, 0, .75) 0 1px 8px,
    rgba(0, 0, 0, .2) 0 -5px 0 inset;
}

.google3-card-far-behind .card-content {
  box-shadow:
    rgba(0, 0, 0, .75) 0 1px 8px,
    rgba(215, 0, 40, .5) 0 0 70px inset,
    rgba(0, 0, 0, .2) 0 -5px 0 inset;
}

.google3-card-far-behind .card-title,
.google3-card-far-behind .card-note {
  color: #ff5a55;
}

.google3-card-far-behind .card-value {
  color: #d70028;
}


.google3-card .card-title,
.sha-count-card .card-title {
  margin-bottom: 20px;
}

.google3-card .card-value,
.sha-count-card .card-value {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 120px;
}


.sha-count-card .card-title {
  color: #d4d4d4;
  font-size: 20px;
}

.sha-count-card .card-value {
  color: #9e9e9e;
}

.sha-count-card .card-note {
  color: #b9b9b9;
}


.github-status {
  float: right;
  width: 740px;
  background-color: #464646;
  box-shadow: rgba(0, 0, 0, .2) 0 0 150px inset;
}


.milestone-title {
  position: relative;
  margin-bottom: 0;
}

.milestone-title::before {
  content: 'Milestone';
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  color: #C0C0C0;
  font-size: 20px;
}


.progress {
  height: 10px;
  margin: 5px 40px 23px;
  border-radius: 3px;
  background-color: #5E5E5E;
}

.progress-bar {
  width: 95%; /* dynamic */
  height: 100%;
  float: left;
  border-radius: 3px;
  background-color: #9CC563;
  box-shadow: rgba(0, 0, 0, .2) 0 -2px 0 inset;
  transition: width 1s ease;
}


.github-card {
  width: 310px;
}

.github-card .card-title {
  font-size: 25px;
}

.milestone-card {
  margin-bottom: 20px;
}

.pr-card {
  text-align: left;
}

.issue-card {
  text-align: right;
}

.untriaged-card .card-title {
  font-size: 30px;
}

.untriaged-card .card-title span {
  display: block;
  font-size: 25px;
}

.untriaged-card .card-value {
  padding-top: 60px;
  font-size: 120px;
}

.pr-card .card-title,
.issue-card .card-title {
  color: #989898;
}

.pr-card .card-value,
.issue-card .card-value {
  color: #525252;
}

.pr-card .card-note,
.issue-card .card-note {
  color: #C6C6C6;
}

.pr-card .card-note strong,
.issue-card .card-note strong {
  color: #919191;
}

.untriaged-pr-card .card-value,
.untriaged-issue-card .card-value {
  color: #d70028;
}

.github-card .card-title {
  font-size: 25px;
}

.milestone-card {
  margin-bottom: 20px;
}

.pr-card {
  text-align: left;
}

.issue-card {
  text-align: right;
}

.untriaged-card .card-title {
  font-size: 30px;
}

.untriaged-card .card-title span {
  display: block;
  font-size: 25px;
}

.untriaged-card .card-value {
  padding-top: 60px;
  font-size: 120px;
}

.pr-card .card-title,
.issue-card .card-title {
  color: #989898;
}

.pr-card .card-value,
.issue-card .card-value {
  color: #525252;
}

.pr-card .card-note,
.issue-card .card-note {
  color: #C6C6C6;
}

.pr-card .card-note strong,
.issue-card .card-note strong {
  color: #919191;
}


.totals {
  clear: both;
  padding-top: 12px;
  overflow: hidden;
  position: relative;
  background-color: #383838;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: rgba(0, 0, 0, .2) 0 0 150px inset;
}

.untriaged-card,
.total-card {
  background-color: transparent;
  box-shadow: none;
  color: #989898;
  text-shadow: rgba(0, 0, 0, .5) 0 3px 5px;
}

.untriaged-card {
  background: #ffbfac;
  background: #fff;
}

.untriaged-card-none {
  background: #404040;
}

.untriaged-card .card-content {
  box-shadow: rgba(0, 0, 0, .2) 0 -5px 0 inset, rgba(0, 0, 0, .75) 0 1px 8px,
    rgba(215, 0, 40, .3) 0 0 70px inset;
}

.untriaged-card-none .card-content {
  box-shadow: rgba(0, 0, 0, .2) 0 -5px 0 inset, rgba(0, 0, 0, .75) 0 1px 8px,
    rgba(0, 0, 0, .2) 0 0 100px inset;
}

.untriaged-card .card-title {
  color: #ff5a55;
}

.total-card .card-title,
.total-card .card-value,
.untriaged-card-none .card-title {
  color: #989898;
  text-shadow: rgba(0, 0, 0, .3) 0 1px 3px;
}

.untriaged-pr-card .card-value,
.untriaged-issue-card .card-value {
  color: #d70028;
  text-shadow: rgba(255, 255, 255, .4) 0 1px 0px;
}

.untriaged-card-none .card-value {
  color: #d5574c;
  text-shadow: rgba(0, 0, 0, .3) 0 2px 3px;
}

.untriaged-card-none .card-value {
  color: #9cc563;
}

.total-card .card-content {
  box-shadow: none;
  padding-bottom: 5px;
}

.total-card .card-title {
  padding-top: 65px;
  font-size: 30px;
}

.total-card .card-title span {
  display: block;
  font-size: 25px;
}

.total-card .card-value {
  padding-top: 35px;
}


.card-graph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  -webkit-mask-image: linear-gradient(top, #000, #fff);
}

.card-graph svg {
  width: 100%;
  border-radius: 5px;
}

.google3-card .card-graph svg .graph-sparkline {
  fill: #d6ff99;
}

.google3-card-far-behind .card-graph svg .graph-sparkline {
  fill: #ffcdba;
}

.untriaged-card .card-graph svg .graph-sparkline {
  fill: #ffcdba;
  /*fill: #ffa38b;*/
}

.untriaged-card-none .card-graph svg .graph-sparkline {
  fill: #666;
}


.notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  color: #fff;
  font-size: 80px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, .4) 0 -2px 0;
}

.notification-error {
  background-color: #d70028;
}

.notification-error .notification-title span,
.notification-error .notification-title small,
.notification-error .notification-note {
  color: #ff9687;
}

.notification-success {
  background-color: #4d7515;
}

.notification-success .notification-title span,
.notification-success .notification-title small,
.notification-success .notification-note {
  color: #8fb756;
}


.notification-title {
  margin-bottom: 190px;
  padding-top: 120px;
  line-height: 70px;
}

.notification-title small {
  display: block;
  font-size: 60px;
}

.notification-value {
  min-height: 200px;
  line-height: 200px;
  font-size: 240px;
}

.notification-note {
  margin-top: 205px;
}

.notification-note strong {
  color: #fff;
}


.notification-active {
  animation: notification-blink 6s linear infinite;
}

@keyframes notification-blink {
  /*0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }*/
  0% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.notification-active > div {
  animation: notification-blink-text 6s linear infinite;
}

@keyframes notification-blink-text {
  0% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bd-chart {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0
}

.bd-chart .line {
    fill: none;
}

.bd-chart .line.total {
    stroke: steelblue;
    stroke-width: 10px;
}

.bd-chart .line.open {
    stroke: orangered;
    stroke-width: 10px;
}