.twt-buffer-button, .twt-o, .twt-o div, .twt-o blockquote, .twt-o .author, .twt-o .footer, .twt-border, .twt-o p, .twt-o ul, .twt-o ol, .twt-o li, .twt-o dl, .twt-o dt, .twt-o dd, .twt-o img, .twt-o a img, .twt-o a, .twt-o b, .twt-o i, .twt-o span, .twt-o time, .twt-o abbr, .twt-o iframe, .twt-timeline, .twt-timeline li {
    position: static !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    z-index: auto !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    max-width: auto !important;
    max-height: auto !important;
    min-width: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
    clip: auto !important;
    clear: none !important;
    font: normal normal normal 12px/16px "Helvetica Neue", Arial, sans-serif !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    color: #333 !important;
    text-align: left !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-overflow: clip !important;
    -webkit-text-size-adjust: none !important;
    text-shadow: none !important;
    text-transform: none !important;
    word-wrap: normal !important;
    white-space: normal !important;
    vertical-align: baseline !important;
    list-style: none !important;
    cursor: auto !important;
    background: transparent !important;
    border: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    quotes: none !important;
    -webkit-outline: 0 !important;
    -moz-outline: 0 !important;
    -ms-outline: 0 !important;
    -o-outline: 0 !important;
    outline: 0 !important;
    -webkit-opacity: 1 !important;
    -moz-opacity: 1 !important;
    -ms-opacity: 1 !important;
    -o-opacity: 1 !important;
    opacity: 1 !important;
    filter: !important;
    visibility: visible !important;
    size: auto !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    direction: ltr !important;
    marks: none !important;
    page: auto !important;
    -o-set-link-source: none !important
}

.twt-tweet .author::before, .twt-tweet .author::after {
    display: table !important;
    content: "" !important
}

.twt-tweet .author::after {
    clear: both !important
}

.twt-tweet, .twt-border, .twt-buffer, .twt-tweet .author {
    zoom: 1 !important
}

.twt-buffer, .twt-buffer button {
    height: 1% !important
}

.twt-o a, .twt-o a span, .twt-o a img, .twt-o a b, .twt-o a i, .twt-o a .avatar {
    cursor: hand !important;
    cursor: pointer !important
}

.twt-tweet, .twt-tweet .footer, .twt-tweet .author, .twt-timeline .twt-buffer-button, .twt-tweet .badges li, .twt-reply, .twt-o, .twt-border {
    position: relative !important
}

.twt-tweet .avatar, .twt-tweet .permalink, .twt-tweet .twt-follow-button, .twt-inline .border, .twt-reply .border-arrow {
    position: absolute !important
}

.twt-tweet .twt-follow-button {
    top: 1px !important;
    left: auto !important;
    width: 150px !important;
    height: 20px !important
}

.twt-timeline .permalink {
    top: 1px !important
}

.twt-tweet .twt-follow-button, .twt-tweet .permalink, .twt-inline .border {
    right: 0 !important
}

.twt-inline .permalink {
    right: -75px !important
}

.twt-tweet .avatar, .twt-tweet .border, .twt-reply .border-arrow {
    left: 0 !important
}

.twt-tweet .border, .twt-reply .border-arrow {
    bottom: 0 !important
}

.twt-inline .permalink {
    top: 0 !important
}

.twt-tweet .avatar {
    top: 1px !important
}

.twt-inline .avatar {
    top: 3px !important
}

.twt-border .twt-reply .border {
    left: 54px !important
}

.twt-inline .avatar {
    left: -42px !important
}

.twt-reply .border {
    left: 42px !important
}

.twt-o ul, .twt-o ol, .twt-o li, .twt-o div, .twt-o blockquote, .twt-o p, .twt-timeline li, .twt-buffer-button, .twt-tweet .retweet-credit, .twt-tweet .twt-actions a, .twt-tweet .twt-actions a b, .twt-tweet .twt-actions a i, .twt-tweet .twt-actions li, .twt-tweet .view-details, .twt-tweet img, .twt-tweet .twt-media img, .twt-tweet .in-reply, .twt-tweet .fn, .twt-tweet .author .nickname, .twt-tweet .author, .twt-tweet .retweet-credit i, .twt-tweet .author .badges, .twt-tweet .author .badges li.twt-tweet .badges li, .twt-tweet .permalink .updated, .twt-tweet .permalink i, .twt-tweet abbr {
    display: block !important
}

.twt-o cite, .twt-o a, .twt-o b, .twt-o i, .twt-o time, .twt-o span, .twt-o em, .twt-inline .in-reply, .twt-inline .author .nickname {
    display: inline !important
}

.twt-narrow .footer .twt-actions b {
    display: none !important
}

.twt-tweet .entry-title {
    margin: 7px 5px 6px 0 !important
}

.twt-tweet .twt-actions a i {
    margin: 1px 5px 0 8px !important;
    *margin: 1px 2px 0 3px !important
}

.twt-tweet .twt-actions .retweet-action i, .twt-tweet .twt-actions .unretweet-action i {
    margin-top: 1px !important;
    margin-right: 3px !important
}

.twt-tweet .twt-actions .favorite-action i, .twt-tweet .twt-actions .unfavorite-action i {
    margin-top: -1px !important;
    margin-right: 4px !important
}

.twt-border .twt-buffer-show {
    margin: 12px 12px 0 12px !important
}

.twt-tweet .twt-media {
    margin: 7px 0 7px !important
}

.twt-narrow .footer .twt-actions a i {
    margin-right: 2px !important;
    margin-left: 3px !important
}

.twt-tweet .retweet-credit i {
    margin: 4px 4px 0 0 !important
}

.twt-tweet .retweet-credit, .twt-tweet .author {
    margin-top: -2px !important
}

.twt-inline .nickname {
    margin-top: 2px !important
}

.twt-inline .twt-media {
    margin-top: 8px !important
}

.twt-inline .author {
    margin-right: 75px !important
}

.twt-tweet .fn, .twt-tweet .badges {
    margin-right: 4px !important
}

.twt-buffer-show {
    margin-bottom: 5px !important
}

.twt-border .twt-reply {
    margin-bottom: 2px !important
}

.twt-timeline .twt-tweet .retweet-credit {
    margin-bottom: 3px !important
}

.twt-tweet .retweet-credit {
    margin-bottom: 7px !important
}

.twt-reply {
    margin-bottom: 15px !important
}

.twt-inline .entry-title {
    margin: 0 5px 2px 0 !important
}

.twt-tweet .badges {
    margin-top: 1px !important
}

.twt-tweet .twt-protected {
    margin-top: 3px !important
}

.twt-tweet .permalink i {
    margin: 2px 0 0 5px !important
}

.twt-tweet .footer {
    padding-top: 2px !important
}

.twt-border .twt-tweet {
    padding: 12px !important
}

.twt-reply, .twt-inline .twt-tweet, .twt-tweet .author .nickname, .twt-tweet .fn {
    padding-left: 42px !important
}

.twt-reply {
    padding-bottom: 12px !important
}

.twt-border .twt-reply {
    padding-left: 54px !important
}

.twt-border .twt-inline .twt-tweet {
    padding: 12px 12px 8px 54px !important
}

.twt-timeline .twt-tweet {
    padding: 12px 0 8px 42px !important
}

.twt-inline .fn, .twt-inline .author .nickname {
    padding: 0 !important
}

.twt-buffer-button {
    padding: 0 1px !important
}

.twt-tweet .view-details, .twt-tweet .in-reply, .twt-tweet .fn, .twt-tweet .author .nickname, .twt-tweet .twt-actions a, .twt-tweet .twt-actions a i, .twt-tweet .twt-actions li, .twt-tweet .twt-actions a b, .twt-tweet .retweet-credit i, .twt-tweet .badges, .twt-tweet .badges li, .twt-tweet .permalink .updated, .twt-tweet .permalink i, .twt-inline .author .nickname, .twt-inline .in-reply, .twt-rtl .footer .twt-actions {
    _display: inline !important;
    float: left !important
}

.twt-rtl .view-details, .twt-rtl .in-reply, .twt-rtl .fn, .twt-rtl .author .nickname, .twt-rtl .twt-actions a, .twt-rtl .twt-actions a i, .twt-rtl .twt-actions li, .twt-rtl .twt-actions a b, .twt-rtl .retweet-credit i, .twt-rtl .badges, .twt-rtl .badges li, .twt-rtl .permalink .updated, .twt-rtl .permalink i, .twt-rtl-inline .author .nickname, .twt-rtl-inline .in-reply, .twt-tweet .twt-actions {
    float: right !important
}

.twt-tweet-list .twt-actions {
    margin-top: -1px !important
}

.twt-actions a i, .twt-tweet .badges li, .twt-tweet .permalink i, .twt-tweet .retweet-credit i, .twt-reply .border-arrow {
    background: transparent url(sprite.png) repeat-x 0 0 !important;
    _background-image: url(sprite-ie6.gif) !important;
    background-size: 49px 137px !important
}

.twt-rtl .twt-actions a i, .twt-rtl .badges li, .twt-rtl .permalink i, .twt-rtl .retweet-credit i.twt-rtl .twt-reply .border-arrow {
    background-image: url(sprite.rtl.png) !important;
    _background-image: url(sprite-ie6.rtl.gif) !important
}

@media (-webkit-min-device-pixel-ratio:2) {
    .twt-actions a i, .twt-tweet .badges li, .twt-tweet .permalink i, .twt-tweet .retweet-credit i, .twt-reply .border-arrow {
        background-image: url(sprite@2x.png) !important
    }

    .twt-rtl .twt-actions a i, .twt-rtl .badges li, .twt-rtl .permalink i, .twt-rtl .retweet-credit i, .twt-rtl .twt-reply .border-arrow {
        background-image: url(sprite@2x.rtl.png) !important
    }

!important
    }

.twt-actions a i {
    overflow: hidden !important
}

.twt-tweet .badges li {
    _text-indent: -999em !important;
    vertical-align: -15% !important;
    background-position: 0 -87px !important
}

.twt-tweet abbr {
    text-indent: -999em !important
}

.twt-tweet .badges .twt-protected {
    background-position: 0 -128px !important
}

.twt-inline .badges .twt-protected {
    background-position: 0 -127px !important
}

.twt-border {
    _width: 350px !important;
    max-width: 550px !important;
    min-width: 350px !important;
    max-height: 180px !important;
    min-height: 180px !important
}

.twt-tweet .badges .twt-verified {
    width: 15px !important;
    height: 15px !important
}

.twt-tweet .badges .twt-protected {
    width: 8px !important;
    height: 10px !important
}

.twt-tweet .permalink i {
    width: 14px !important;
    height: 11px !important
}

.twt-tweet .retweet-credit i {
    width: 14px !important;
    height: 8px !important;
    background-position: 0 -17px !important
}

.twt-actions .reply-action i {
    width: 18px !important;
    height: 13px !important;
    background-position: 0 -30px !important
}

.twt-actions .reply-action:hover i, .twt-actions .reply-action:focus i {
    background-position: -23px -30px !important
}

.twt-actions .retweet-action i, .twt-actions .unretweet-action i {
    width: 22px !important;
    height: 12px !important;
    background-position: 0 -48px !important
}

.twt-actions .retweet-action:hover i, .twt-actions .retweet-action:focus i, .twt-actions .unretweet-action:hover i, .twt-actions .unretweet-action:focus i {
    background-position: -27px -48px !important
}

.twt-tweet .twt-actions .favorite-action i, .twt-tweet .twt-actions .unfavorite-action i {
    width: 16px !important;
    height: 15px !important;
    background-position: 0 -66px !important
}

.twt-actions .favorite-action:hover i, .twt-actions .favorite-action:focus i, .twt-actions .unfavorite-action:hover i, .twt-actions .unfavorite-action:focus i {
    background-position: -21px -66px !important
}

.twt-follow-button {
    width: 80px !important;
    height: 20px !important
}

.twt-tweet .avatar, .twt-tweet .avatar img {
    width: 32px !important;
    height: 32px !important
}

.twt-reply .border {
    _width: 100% !important;
    height: 7px !important
}

.twt-tweet .twt-actions a b {
    _display: none !important
}

.twt-border .twt-reply .border-arrow {
    background-position: 12px -117px !important
}

.twt-reply .border-arrow {
    width: 42px !important;
    height: 6px !important;
    overflow: hidden !important;
    background-position: 0 -106px !important
}

.twt-border .twt-reply .border-arrow {
    width: 54px !important
}

.twt-tweet .media-iframe-wrap {
    position: relative !important;
    height: 0 !important;
    padding-top: 25px !important;
    padding-bottom: 68.25% !important
}

.twt-tweet iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important
}

.twt-tweet .twt-media img {
    _width: 100% !important;
    max-width: 100% !important;
    max-height: 360px !important;
    -ms-interpolation-mode: bicubic !important
}

.twt-buffer-button {
    width: 100% !important;
    height: 0 !important
}

.twt-tweet .entry-title {
    width: 100% !important
}

.twt-buffer-show .twt-buffer-button {
    height: 30px !important
}

.twt-tweet .avatar, .twt-buffer-button {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important
}

.twt-tweet .avatar img, .twt-border {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important
}

.twt-border .twt-reply {
    -moz-border-radius: 5px 5px 0 0 !important;
    border-radius: 5px 5px 0 0 !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important
}

.twt-buffer-show .twt-buffer-button {
    border: 1px solid #ccc !important
}

.twt-buffer-show .twt-buffer-button:hover {
    border-color: #bbb !important
}

.twt-inline .twt-tweet {
    border-bottom: 1px solid #e8e8e8 !important
}

.twt-reply .border {
    border-bottom: 1px solid #ccc !important
}

.twt-inline .twt-last, .twt-buffer-button {
    border: 0 !important
}

.twt-border {
    background-color: #fff !important
}

.twt-border .twt-reply {
    background: #f6f6f6 !important
}

.twt-error .avatar {
    background: #ccc !important
}

.twt-buffer-button {
    background-color: #ddd !important;
    background-image: -moz-linear-gradient(#fff, #ddd) !important;
    background-image: -ms-linear-gradient(#fff, #ddd) !important;
    background-image: -o-linear-gradient(#fff, #ddd) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)) !important;
    background-image: linear-gradient(#fff, #ddd) !important
}

.twt-buffer-button:hover {
    background-color: #eee !important;
    background-image: -moz-linear-gradient(#f8f8f8, #d8d8d8) !important;
    background-image: -ms-linear-gradient(#f8f8f8, #d8d8d8) !important;
    background-image: -o-linear-gradient(#f8f8f8, #d8d8d8) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d8d8d8)) !important;
    background-image: linear-gradient(#f8f8f8, #d8d8d8) !important
}

.twt-buffer-button:active {
    background-color: #ccc !important;
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05) !important
}

.twt-tweet .retweet-credit i {
    font-size: 10px !important
}

.twt-reply .author a, .twt-reply .author span, .twt-reply .entry-title, .twt-reply .entry-title a, .twt-reply .entry-title a b {
    font-size: 12px !important
}

.twt-buffer-button {
    font-size: 13px !important
}

.twt-tweet .entry-title, .twt-tweet .entry-title a, .twt-tweet .entry-title a b {
    font-size: 16px !important;
    -webkit-text-size-adjust: auto !important
}

.twt-inline .entry-title, .twt-inline .entry-title a, .twt-inline .entry-title a b, .twt-tweet .author .fn, .twt-tweet .author .badges, .twt-tweet .author .dot {
    font-size: 14px !important
}

.twt-inline .twt-error .twt-error {
    line-height: 10px !important
}

.twt-tweet .view-details, .twt-tweet .entry-title, .twt-tweet .entry-title a, .twt-tweet .entry-title a b {
    line-height: 22px !important
}

.twt-tweet .author a, .twt-tweet .author span, .twt-inline .entry-title, .twt-inline .entry-title a, .twt-inline .entry-title a b, .twt-inline .twt-error, .twt-inline .view-details {
    line-height: 18px !important
}

.twt-tweet .twt-error, .twt-tweet .view-details, .twt-tweet time, .twt-tweet time span, .twt-tweet .author, .twt-tweet .badges, .twt-tweet .badges li, .twt-tweet .author .dot, .twt-tweet .in-reply, .twt-tweet .retweet-credit {
    line-height: 13px !important
}

.twt-reply .author a, .twt-reply .author span, .twt-reply .entry-title, .twt-reply .entry-title a, .twt-reply .entry-title a b {
    line-height: 16px !important
}

.twt-timeline .twt-buffer-button {
    line-height: 29px !important
}

.twt-tweet .author a, .twt-tweet .footer a, .twt-tweet em, .twt-tweet b, .twt-tweet span, .twt-tweet span a, .twt-tweet .author a:hover .nickname, .twt-tweet .author a:hover .nickname b, .twt-tweet .author a:focus .nickname, .twt-tweet .author a:focus .nickname b {
    color: #999 !important
}

.twt-tweet span a:hover, .twt-tweet .author a:hover, .twt-tweet .footer a:hover, .twt-tweet a:hover span, .twt-tweet a:hover b, .twt-tweet .author a:focus, .twt-tweet .footer a:focus, .twt-tweet a:focus span, .twt-tweet a:focus b {
    color: #777 !important
}

.twt-tweet a.permalink span {
    color: #bbb !important
}

.twt-tweet .author a:hover .fn, .twt-tweet .author a:focus .fn {
    color: #000 !important
}

.twt-tweet .entry-content a, .twt-tweet .entry-content b {
    color: #666 !important
}

.twt-tweet .entry-content a:hover, .twt-tweet .entry-content a:hover b, .twt-tweet .entry-content a:focus, .twt-tweet .entry-content a:focus b {
    color: #444 !important
}

.twt-timeline .twt-buffer-button, .twt-tweet .author .fn {
    color: #333 !important
}

.twt-o .twt-error {
    color: #ab2920 !important
}

.twt-o a:link, .twt-o a:visited, .twt-o a:active, .twt-o a:hover, .twt-o a:focus, .twt-tweet .author a:hover .nickname, .twt-tweet .author a:hover .nickname b, .twt-tweet .author a:focus .nickname, .twt-tweet .author a:focus .nickname b {
    text-decoration: none !important
}

.twt-o a:hover b, .twt-o a:focus b, .twt-tweet a:hover span, .twt-tweet a:focus span, .twt-tweet .entry-title .link:hover, .twt-tweet .entry-title .link:focus, .twt-tweet .in-reply a:hover, .twt-tweet .in-reply a:focus, .twt-tweet .view-details:hover, .twt-tweet .view-details:focus {
    text-decoration: underline !important
}

.twt-tweet .entry-title {
    overflow: hidden !important;
    word-wrap: break-word !important
}

.twt-tweet .entry-title, .twt-o .entry-title a, .twt-o .entry-title b {
    font-family: Georgia, Palatino, serif !important
}

.twt-tweet .author .fn {
    font-weight: bold !important
}

.twt-border {
    border: #ddd 1px solid !important;
    border-top-color: #eee !important;
    border-bottom-color: #bbb !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important
}

.twt-tweet {
    _height: 30px !important;
    min-height: 30px !important
}

.twt-tweet .badges li, .twt-tweet .footer, .twt-tweet .author {
    overflow: hidden !important;
    zoom: 1 !important
}

.twt-tweet .author {
    min-height: 35px !important
}

.twt-tweet .permalink {
    z-index: 5 !important
}

.twt-reply .avatar::after {
    display: none !important
}

.twt-tweet .avatar::after {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    width: 32px !important;
    height: 32px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    content: " " !important
}

.twt-tweet .article .footer {
    overflow: hidden !important
}

.twt-actions li, .twt-actions a, .twt-actions i, .twt-actions b {
    visibility: hidden !important;
    _visibility: visible !important
}

.twt-tweet:hover .twt-actions li, .twt-tweet:hover .twt-actions a, .twt-tweet:hover .twt-actions i, .twt-tweet:hover .twt-actions b, .twt-tweet:focus .twt-actions li, .twt-tweet:focus .twt-actions a, .twt-tweet:focus .twt-actions i, .twt-tweet:focus .twt-actions b, .twt-always-show-actions .twt-actions, .twt-always-show-actions .twt-actions li, .twt-always-show-actions .twt-actions a, .twt-always-show-actions .twt-actions i, .twt-always-show-actions .twt-actions b, .twt-touch .twt-actions li, .twt-touch .twt-actions a, .twt-touch .twt-actions i, .twt-touch .twt-actions b {
    visibility: visible !important
}

.twt-tweet .twt-actions a, .twt-tweet .twt-actions a b, .twt-tweet .twt-actions a i, .twt-tweet .twt-actions li {
    outline: 0 !important
}

.twt-touch .twt-actions a {
    padding-left: 15px !important
}

.twt-tweet .retweet-credit i {
    vertical-align: middle !important
}

.twt-inline .entry-title, .twt-inline .entry-title a, .twt-inline .entry-title a b {
    font-family: "Helvetica Neue", Arial, sans-serif !important
}

.twt-inline .author {
    overflow: visible !important
}

.twt-inline .author {
    min-height: 0 !important
}

.twt-inline .twt-tweet {
    min-height: 47px !important
}

.twt-buffer-button {
    overflow: hidden !important;
    text-align: center !important;
    text-shadow: 0 1px 0 #fff !important;
    cursor: pointer !important;
    -webkit-transition: height .25s ease !important;
    -moz-transition: height .25s ease !important;
    transition: height .25s ease !important
}

.twt-tweet .author .nickname {
    clear: both !important
}

.twt-inline .author .nickname {
    clear: none !important
}

.twt-error .author a .fn, .twt-error .author a:hover .fn, .twt-error .author a:focus .fn, .twt-error .entry-title {
    cursor: default !important
}

.twt-tweet .twt-error {
    text-align: right !important
}

.twt-error .twt-error, .twt-inline .twt-tweet .twt-error, .twt-reply .twt-error {
    text-align: left !important
}

.twt-inline .footer .twt-error {
    margin-bottom: 3px !important
}

.twt-rtl .avatar, .twt-rtl .border-arrow {
    right: 0 !important;
    left: auto !important
}

.twt-rtl .twt-follow-button, .twt-rtl .permalink {
    right: auto !important
}

.twt-rtl-inline .permalink {
    left: -75px !important
}

.twt-rtl-inline .border {
    right: 54px !important;
    left: 0 !important
}

.twt-border .twt-rtl-inline .border {
    left: 0 !important
}

.twt-rtl-inline .author .avatar {
    right: -42px !important
}

.twt-rtl .twt-reply .border {
    right: 42px !important;
    left: auto !important
}

.twt-rtl-inline .twt-tweet, .twt-rtl .author .nickname, .twt-rtl .fn {
    padding-right: 42px !important;
    padding-left: 0 !important
}

.twt-border .twt-rtl-inline {
    padding-right: 54px !important;
    padding-left: 12px !important
}

.twt-rtl-inline .author .fn, .twt-rtl-inline .author .nickname {
    padding-right: 0 !important
}

.twt-border .twt-rtl .twt-reply {
    padding-right: 54px !important;
    padding-left: 0 !important
}

.twt-rtl .fn, .twt-rtl .badges {
    margin-right: 0 !important;
    margin-left: 4px !important
}

.twt-rtl-inline .author {
    margin-right: 0 !important;
    margin-left: 75px !important
}

.twt-rtl .permalink i {
    margin-left: 0 !important
}

.twt-rtl-body .entry-title {
    text-align: right !important;
    direction: rtl !important
}

.twt-rtl-body .entry-title .vcard, .twt-rtl-body .entry-title .ht {
    display: inline-block !important;
    direction: ltr !important
}

.twt-rtl .twt-actions .reply-action i, .twt-rtl .twt-actions .retweet-action i, .twt-rtl .twt-actions .unretweet-action i, .twt-rtl .twt-actions .favorite-action i, .twt-rtl .twt-actions .unfavorite-action i, .twt-rtl .twt-actions a i {
    margin-right: 8px !important;
    margin-left: 4px !important
}

.twt-border .twt-inline .twt-rtl {
    padding: 12px 54px 8px 12px !important
}

.twt-inline .twt-rtl .author {
    margin-right: 0 !important;
    margin-left: 75px !important
}

.twt-inline .twt-rtl .avatar {
    right: -42px !important
}

.twt-inline .twt-rtl-inline .twt-tweet, .twt-inline .twt-rtl .author .nickname, .twt-inline .twt-rtl .fn {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.twt-inline .twt-rtl .permalink {
    left: -75px !important
}

.twt-rtl .twt-actions li i, .twt-rtl-inline .permalink .updated {
    *float: none !important
}

.twt-rtl .twt-actions li {
    *display: inline !important
}

.twt-rtl .twt-actions {
    *width: 208px !important
}

.twt-rtl-narrow .twt-actions {
    *width: 90px !important
}

.twt-rtl .twt-actions li a, .twt-rtl .twt-actions li i, .twt-rtl .twt-actions li b {
    *position: relative !important;
    *display: inline !important;
    *float: left !important
}

.twt-rtl .twt-actions li a {
    *margin-right: 30px !important
}

.twt-rtl .footer .twt-actions li i {
    *position: absolute !important;
    *right: -24px !important;
    *margin-right: 0 !important;
    *margin-left: 0 !important
}

.twt-rtl .footer .twt-actions .favorite-action, .twt-rtl .footer .twt-actions .unfavorite-action {
    *margin-right: 25px !important
}

.twt-rtl .footer .twt-actions .favorite-action i, .twt-rtl .footer .twt-actions .unfavorite-action i {
    *right: -18px !important
}

.twitter-tweet-rendered {
    max-width: 550px !important;
    margin: 7px 0 !important;
    clear: both !important;
    font: normal normal normal 14px/16px 'Helvetica Neue', Arial, sans-serif !important;
    color: #333 !important
}

.twitter-tweet-rendered.tw-align-left {
    float: left !important;
    margin: -4px 12px 7px 0 !important
}

.twitter-tweet-rendered.tw-align-right {
    float: right !important;
    margin: -4px 0 7px 12px !important
}

.twitter-tweet-rendered.tw-align-center {
    float: none !important;
    width: 80% !important;
}