<div ng-controller="BuildQueueCtrl">
  <div ng-hide="items.length > 0">
    <h3 align="center">Build Queue is Empty</h3>
  </div>
  <div ng-show="items.length > 0">
    <h4>Builds in Queue <span class="badge badge-info">{{items.length}}</span></h4>
    <table class="table table-condensed" ng-show="items.length > 0">
      <thead>
        <tr>
          <th>Task</th>
          <th>Reason</th>
          <th>Since</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items | limitTo:5">
          <td>{{item.task.name}}</td>
          <td>{{item.why}}</td>
          <td>{{item.inQueueSince | sinceTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>