<div id="gplus-carousel" class="carousel slide" ng-controller="GPlusCtrl"
     xmlns="http://www.w3.org/1999/html" style="margin-left: 65px" >
  <div class="carousel-inner">
    <div ng-hide="posts.length > 0">
      <p class="lead">There are no GPlus posts about AngularJS</p>
    </div>

    <div class="item tw-align-center twitter-tweet-rendered" lang="en" style="" ng-repeat="post in posts">
      <div class="twt-border">
        <img src="img/google-Plus-icon.png" class="gplus-logo">
        <blockquote class="twt-o twt-tweet hentry twt-always-show-actions twt-pinned twt-standard">
          <div class="vcard author">
            <span class="avatar"><img ng-src="{{post.actor.image.url}}" class="photo" alt=""></span>
            <span class="fn">{{post.actor.displayName}}</span>
          </div>

          <div class="entry-content">
            <p class="entry-title">{{post.title}}</p>
          </div>
          <div class="footer">
            <span class="value-title"></span>
            {{post.published | date:shortDate}}
            </span>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>

